@font-face {
    font-family: odin_header;
    src: url(res/Norse-Bold.otf);
  }

.container {
    display: grid;
    grid-template-columns: [first] 500px [line2] 600px [end];
    grid-template-rows: repeat(3, 250px);
}

.container_banner {
position: absolute;
width: 100%;
background: black;
opacity: 0.7;
display: flex;
top: 10rem;
justify-content: center;
align-content: center;
}


.logo {
    width: 10%;
    height: 10%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

h2 {
    font-family: odin_header, Arial;
    font-size: 2rem;
    color: white;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.img_container {
    position: relative;
    height: 100%;
    width: 100%;
    grid-row: 1 / span 3;
}
.img{
    width: auto;
    height: 100%;
    background-image: url(img/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: auto; /* oder "100% auto;" um die volle Höhe und variable Breite des ersten Grid-Elements zu haben*/
    }

    .credit {
        position: absolute;
        bottom: 1rem;
        left: 9rem;
        color: white;
        font-size: 0.8rem;
    }
